.bg {
    background-color: #B3E2F6;
    padding-top: 1%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.active {
  background-color: #FFCD24;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    padding-right: 0px;
    overflow: hidden;
    background-color: #2AABE4;
    margin-bottom: 1%;
}

.header {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-element {
  float: right;
}

.nav-element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-element a:hover {
  background-color: #157FAC;
}

.explination {
    background-color: #2AABE4;
    border-top: 10px solid #1998CE;
    color: white;
    padding: 1%;
    text-align: center;
}

.form {
    background-color: #2AABE4;
    border-top: 10px solid #1998CE;
    color: white;
    padding: 1%;
    text-align: center;
}