.bg {
    background-color: #B3E2F6;
    padding-top: 1%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.active {
  background-color: #FFCD24;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding-left: 1%;
    padding-right: 0px;
    overflow: hidden;
    background-color: #2AABE4;
    margin-bottom: 1%;
    box-shadow: 0 2px 2px -2px black;
}

.header {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-element {
  float: right;
}

.nav-element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-element a:hover {
  background-color: #157FAC;
}

.explination {
    background-color: #2AABE4;
    border-top: 10px solid #1998CE;
    color: white;
    padding: 1%;
    text-align: center;
    overflow: auto;
    box-shadow: 0 2px 2px -2px black;
}

.exphead {
    text-align: left; 
    padding-left: 1%;
}

.expbody {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    overflow: auto;
}

.microscope {
    display: inline-block;
    float: left;
    padding-right: 1%;
}

.expdesc {
    display: inline;
    text-align: center;
    text-decoration: none;
}

.form {
    background-color: #2AABE4;
    border-top: 10px solid #1998CE;
    color: white;
    padding: 1%;
    text-align: center;
    box-shadow: 0 2px 2px -2px black;
}

.dropdown {
  display: inline;
  overflow: hidden;
}

.dropdown .drop-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 1%;
  padding-left: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .drop-button {
  background-color: rgb(23, 139, 189);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.bio-left {
    background-color: #2AABE4;
    border-left: 10px solid #1998CE;
    color: white;
    padding: 1%;
    overflow: auto;
    box-shadow: 0 1% 1% -1% black;
}

.inner-bio {
  position: relative;
}

.bio-text {
  display: inline-block;
  width: 75%;
}

.bio-photo {
  position: absolute;
  right: 0px;
  padding: 1%;
  padding-top: 2%;
  padding-left: 2%;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 75%
}

.social {
    padding: 5px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: auto;
}

.AIimg {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}